<h4>Sign in</h4>
<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <button type="submit">Sign in as Admin</button>
<% end %>