<h1><%= @product.name %></h1>
<h4>Origin: <%= @product.country_of_origin %></h4>
<h4>Price: $ <%= @product.cost %></h4>

<hr>


<% if @product.reviews.any? %>
  <h4>This product has been reviewed by:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No current reviews for <%= @product.name %></p>
<% end %>

<hr>
<form method="get" action="/products/<%= @product.id %>/reviews/new">
  <button>Review this Product</button>
</form>
<form method="get" action="/products/<%= @product.id %>/edit">
  <button>Edit this Product</button>
</form>
<%= link_to "Delete this product from inventory", product_path(@product),
                                                                      :data => { :method => "delete"} %>
<form method="get" action="/products">
  <button>Return To Inventory</button>
</form>
