<h1><%= @product.name %></h1>
<h4>Origin: <%= @product.country_of_origin %></h4>
<h4>Price: $ <%= @product.cost %></h4>

<hr>


<% if @product.reviews.any? %>
  <h4>This products has been reviewed by:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No current reviews for <%= @product.name %></p>
<% end %>

<hr>

<button><%= link_to "Review this product", new_product_review_path(@product) %></button>
<button><%= link_to "Edit this product", edit_product_path(@product) %></button>
<button><%= link_to "Delete this product from inventory", product_path(@product),
                                                                      :data => {:confirm => "Confirm to Delete Product from Inventory",
                                                                      :method => "delete"} %></button>
<button><%= link_to "Return to Inventory", products_path %></button>