<h1><%= @product.name %></h1>
<h3><%= @product.country_of_origin %></h3>
<h3><%= @product.cost %></h3>

<p><%= link_to "Edit this product", edit_product_path(@product) %></p>
<p><%= link_to "Delete this product from inventory", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to Inventory", products_path %></p>