<h1>Add a Review for <%= @product.name %>: </h1>
<%= render "layouts/errors", :object => @review %>


<%= form_for [@product, @review] do |f| %>
  <%= f.label :author %><span>:</span>
  <%= f.text_field :author %>
  <br>
  <%= f.label :rating %><span>(number from 1-5):</span>
  <%= f.text_field :rating %>
  <br>
  
  
  <label for="content_body">Comments<span>(min 50 characters, max 250):</span>
  <%= f.text_area :content_body %></label>
  <br>
  <p><%= f.submit %></p>
<% end %>
<hr>
<br>
<a href="/products/<%= @product.id %>"><button>Return to <%= @product.name %> Page</button></a>
<br>
<a href="/products/"><button>Return to Inventory</button></a>
