<h2>Product: <%= @product.name %></h2>
<h4>Price: $ <%= @product.cost %></h4>
<hr>
<h4>Reviewer <%= @review.author %></h4>
<h5>Product Rating: <%= @review.rating %></h5>
<h5>Comments:</h5>
<p><%= @review.content_body %></p>


<hr>
<br>

<button><%= link_to "Delete review", product_review_path(@product, @review),
                                                    :data => {:confirm => "Confirm to Delete",
                                                              :method => "delete"} %></p></button>
<button><a href="/products/<%= @product.id %>">Return to <%= @product.name %> Page</a></p></button>