<!DOCTYPE html>
<html>
  <head>
    <title>RubyIndependentProject4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="navbarHolder">
      <li class="navbarItem"><a href="/">Home</a></li>
      <li class="navbarItem"><a href="/products">Products</a></li>
      <% if current_user %>
        <li class="navbarItem"><%= current_user.email %><%= link_to "Sign out", '/signout' %></li>
      <% else %>
        <li class="navbarItem"><%= link_to "Sign up", '/signup' %><%= link_to "Sign in", '/signin' %></li>
      <% end %>
      
    </ul>
    
    <br>
    <br>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>

  </body>
</html>
